.px-text {
	background-image: -webkit-linear-gradient(left, #FF6C8B, #eb6fa5, #FF003F);
    background-image:linear-gradient(to right, #FF6C8B, #eb6fa5, #FF003F);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.bar-dark {
    background-color: #F8F9FA;
}

.text-white {
	color: #000000
}

.bg-dark {
    /* background-color: #F8F9FA; */
    background-color: #e8e8e8;
}

.bg-light {
	background-color: #E8E8E8;
}
.navbar2-light {
	background-color: #ffffff;
}
.card {
    background-color: #ffffff;
    color: #333333;
}

.navbar-dark .navbar-nav .nav-link {
    color: #6c757d;
}

.navbar-dark:hover .navbar-nav:hover .nav-link:hover {
    color: #8a96a0;
}

.btn-soon:hover {
    background-color: red;
    border-color: red;
}
@media (prefers-color-scheme: dark) {
     body {
         background-color: #000000;
     }
     .navbar2-light {
         background-color: #181818;
     }
    .bar-dark {
        background-color: #343a40;
    }
    .solid {
        border: none;
        border-bottom: 3.25px solid #eb6fa5; 
        border-top: 3.25px solid #eb6fa5;
        clear: none;
        height: 7;
        width: 82%;
        align-content: center;
        margin: auto;
        background-color: #000000;
        opacity: 0;
    }
    .bg-dark {
        background-color: #000000;
    }

    .text-white {
        color: #FFFFFF
    }
    
    .bg-light {
        background-color: #181818;
    }

    .card {
        background-color: #181818;
        color: #ffffff;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: rgba(255, 255, 255, .5)
    }

    .text-dark {
        color: #343a40;
    }
}